nav {
    background-color: #cfd0ff !important;
}

div.document div.documentwrapper {
    max-width: 50rem;
}

.wide-box-container {
    display: flex;
    justify-content: center; /* Center .feed-box horizontally */
}

.wide-box {
    min-width: 60vw;
    max-width: 90vw;
    margin: 0 auto; /* This centers the box in its container */
}

.feed-box-container {
    display: flex;
    justify-content: center; /* Center .feed-box horizontally */
}

.feed-box {
    min-height: 40vh;
    min-width: 60vw;
    max-width: 90vw;
    margin: 0 auto; /* This centers the box in its container */
    background-color: rgb(229, 216, 255);
    text-align: center;
    padding: 10%;
    border-radius: 15px;
    box-sizing: border-box; /*  Include padding and border in the box's size */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transform: perspective(1000px) rotateX(0.5deg) rotateY(0.5deg); /* Subtle 3D tilt */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Optional: Enhance the floating effect on hover */

.feed-box:hover {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25); /* Larger shadow for more depth */
    transform: perspective(1000px) rotateX(1deg) rotateY(1deg); /* Increased tilt */
}

.feed-box-text {
    margin-top: 10%;
}


.feed-code-box {
    width: 80%;
    text-align: left;
    border-radius: 15px;
    margin: 10% ;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.code-window {
    background-color: #575555; /* Slightly lighter dark background for the code window frame */
    border-radius: 8px;
    overflow: hidden; /* Hide overflow to contain the inner box */
    font-family: monospace;
    width: 100%;
}

.code-snippet {
    background-color: #2b2b2b;
    color: #f8f8f2;
    max-height: 300px;
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar, adjust if necessary */
    white-space: nowrap; /* Prevent wrapping */
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.code-window-buttons {
    padding: 10px;
    margin: 5px;
}

.code-window-button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.close-button { background-color: #ff605c; }
.minimize-button { background-color: #ffbd44; }
.expand-button { background-color: #00ca4e; }

.gradio-loading {
    position: fixed; /* or `absolute` if you want it to scroll with the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Optional, depending on your needs */
    height: 100%; /* Optional, depending on your needs */
}

.centered {
    text-align: center;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #f321e2;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #f321e2;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .spinner {
    border: 5px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #cfd0ff;
    margin-left: 20px;
    animation: spin 1s ease infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.viewcode-link {
    float: right;
    margin-left: 10px;
}

.red {
  color: red;
}