name: Test Catalog Preparation

on:
   push:
     branches: [ main ]
   pull_request:
     branches: [ main ]

jobs:
   run-catalog-preparation:

     runs-on: ubuntu-latest
     env:
       OS: ubuntu-latest
       GENAI_KEY: ${{ secrets.GENAI_KEY }}
       UNITXT_DEFAULT_VERBOSITY: error
       DATASETS_VERBOSITY: error
       HF_HUB_VERBOSITY: error
       HF_DATASETS_DISABLE_PROGRESS_BARS: "True"
       TQDM_DISABLE: "True"


     steps:
     - uses: actions/checkout@v4

     - uses: actions/setup-python@v5
       with:
         python-version: '3.9'

     - run: curl -LsSf https://astral.sh/uv/install.sh | sh
     - run: uv pip install --system ".[tests]"

     - name: Run Tests
       run: python -m unittest discover -s tests/catalog -p "test_*.py"