name: Test Catalog Preparation

on:
   push:
     branches: [ main ]
   pull_request:
     branches: [ main ]

jobs:
   run-catalog-preparation:

     runs-on: ubuntu-latest
     env:
       OS: ubuntu-latest
       GENAI_KEY: "dummy"

     steps:
     - uses: actions/checkout@v4

     - uses: actions/setup-python@v5
       with:
         python-version: '3.9'
        #  cache: 'pip' # caching pip dependencies
     - run: curl -LsSf https://astral.sh/uv/install.sh | sh
     - run: uv pip install --system ".[tests]"

     - name: Run Tests
       run: python -m unittest discover -s tests/catalog -p "test_*.py"