name: Test Catalog Consistency

on:
   push:
     branches: [ main ]
   pull_request:
     branches: [ main ]

jobs:
   run-catalog-consistency:

     runs-on: ubuntu-latest
     env:
       OS: ubuntu-latest
       GENAI_KEY: "dummy"

     steps:
     - uses: actions/checkout@v4

     - uses: actions/setup-python@v5
       with:
         python-version: '3.9'
         cache: 'pip' # caching pip dependencies
     - run: pip install -r requirements/base.rqr
     - run: pip install -r requirements/tests.rqr

     - name: Install Unitxt From Source
       run: pip install -e .

     - name: Run Tests
       run: python -m utils/prepare_all_artifacts.py