name: Test Library Code Eager Execution

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number }}-library_eager_execution.yml
    cancel-in-progress: true

jobs:
  run-full-tests-suit-eager:

    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      UNITXT_USE_EAGER_EXECUTION: True
      UNITXT_DEFAULT_VERBOSITY: error
      DATASETS_VERBOSITY: error
      HF_HUB_VERBOSITY: error
      HF_DATASETS_DISABLE_PROGRESS_BARS: "True"
      TQDM_DISABLE: "True"

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        # cache: 'pip' # caching pip dependencies
    - run: curl -LsSf https://astral.sh/uv/install.sh | sh
    - run: uv pip install --system ".[tests]"
    - run: uv pip install --system coverage[toml]

    - name: Run Tests
      run:  coverage run --omit=*/preparation -m unittest discover -s tests/library -p "test_*.py"