name: Verify Code Quality & Security

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  verify-pre-commit-executed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          pip install -r requirements/dev.rqr
      - name: Install the pre-commit hooks
        run: |
            pre-commit install
      - name: Validate all pre-commit verification were run correctly
        run: |
            pre-commit run --all-files
      - name: Send failure message
        if: failure()  # This step will only run if a previous step failed
        run: echo "The quality & security verification failed. This is likely due to not using pre-commit hooks please run 'pre-commit install' befroe any commit. "
