name: Test HELM Integration

on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

jobs:
    compile-docs:

      runs-on: ubuntu-latest
      env:
        OS: ubuntu-latest

      steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          cache: 'pip' # caching pip dependencies
      - run: pip install git+https://github.com/stanford-crfm/helm.git

      - name: Test Helm
        run: utils/run_helm.sh

