name: Test HELM Integration

on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number }}-test_helm.yml
    cancel-in-progress: true

jobs:
    helm:

      runs-on: ubuntu-latest
      env:
        OS: ubuntu-latest

      steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
      - run: pip install --upgrade 'crfm-helm[unitxt]>=0.5.3'

      - name: Test Helm
        run: utils/run_helm.sh

